# Systemd Unit
# systemctl enable $(pwd)/youtube-shorts.service
# systemctl start youtube-shorts.service

[Unit]
Description=YouTube Shorts Downloader Bot service

[Service]
Restart=on-failure
EnvironmentFile=/home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot/setenv.sh

WorkingDirectory=/home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot
ExecStart=/home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot/venv/bin/python3 /home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot/main.py

[Install]
WantedBy=multi-user.target
