# Systemd Unit:
#   systemctl enable $(pwd)/youtube_shorts_downloader.service
#   systemctl start youtube_shorts_downloader.service

[Unit]
Description=YouTube Shorts Downloader service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

WorkingDirectory=/home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot
ExecStart=/usr/bin/docker-compose -f /home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot/docker-compose.yaml up
ExecStop=/usr/bin/docker-compose -f /home/roma/GitHub/Python/TelegramBots/YouTubeShortsDownloader_bot/docker-compose.yaml down

[Install]
WantedBy=multi-user.target
