{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Contacts</title>
    <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">
</head>

<body>
    <div class="buttons">
        <p>
            <a class="button" href="{% url 'home' %}">Home</a>
        </p>
    </div>
    <h1 class="main_text">Contacts</h1>
    <div class="contacts">
        <a class="contact" href="https://www.instagram.com/romasimachenko/" target="_blank">
            <p class="my_contact">Instagram - <span class="contact_field">romasimachenko</span></p><br>
        </a>
        <a class="contact" href="https://t.me/r0m1mPL" target="_blank">
            <p class="my_contact">Telegram - <span class="contact_field">r0m1mPL</span></p><br>
        </a>
        <a class="contact" href="https://github.com/r0m1mPL" target="_blank">
            <p class="my_contact">GitHub - <span class="contact_field">r0m1mPL</span></p><br>
        </a>
        <a class="contact" href="https://www.youtube.com/channel/UCTghSGYeyeiEUZ3qAQKnwDQ" target="_blank">
            <p class="my_contact">YouTube - <span class="contact_field">r0m1mPL</span></p><br>
        </a>
        <a class="contact" href="mailto:simachenko.roma@gmail.com" target="_blank">
            <p class="my_contact">Email - <span class="contact_field">simachenko.roma@gmail.com</span></p><br>
        </a>
    </div>
</body>

</html>