{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ project.title }}</title>
    <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">
</head>

<body>
    <div class="buttons">
        <p>
            <a class="button" href="{% url 'home' %}">Home</a>
            <a class="button" href="{% url 'project_list' %}">Projects</a>
        </p>
    </div>
    <h1 class="project_detail_title">{{ project.title }}</h1>
    <p class="project_detail_description">{{ project.description }}</p>
    <br>
    <p class="project_detail_pub_date">{{ project.pub_date }}</p>
</body>

</html>